@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Titillium Web';
}


body {
  background: #FFE4C4;
  background: white;
}

body.workout {
  background:#3F888F;
  background:white;
}

body.restout {
  background: #FFE4C4;
  background:white;
}

